<configuration>
    <system>
        <host-name>PE1</host-name>
        <services>
            <ssh>
                <root-login>allow</root-login>
            </ssh>
            <netconf>
                <ssh>
                </ssh>
            </netconf>
            <web-management>
                <http>
                    <interface>ge-0/0/0.0</interface>
                </http>
            </web-management>
        </services>
    </system>
    <interfaces>
        {% for i in host.interfaces %}
        <interface replace="replace">
            <name>{{ i.interface }}</name>
            <unit>
                <name>0</name>
                <description>{{ i.description }}</description>
                <family>
                    <inet>
                        <address>
                            <name>{{ i.local_ip }}</name>
                        </address>
                    </inet>
                    <iso>
                    </iso>
                </family>
            </unit>
        </interface>
        {% endfor %}
        <interface replace="replace">
            <name>lo0</name>
            <unit>
                <name>0</name>
                <description>peering loopback</description>
                <family>
                    <inet>
                        <address>
                            <name>{{ host.loopback.local_ip }}</name>
                        </address>
                    </inet>
                    <iso>
                        <address>
                            <name>{{ host.loopback.iso_net }}</name>
                        </address>
                    </iso>
                </family>
            </unit>
        </interface>
    </interfaces>
    {% if host.bgp.enabled == true %}
    <routing-options>
        <autonomous-system replace="replace">
            <as-number>{{ host.bgp.as }}</as-number>
        </autonomous-system>
    </routing-options>
    {% endif %}
    <protocols>
        {% if host.isis.enabled == true %}
        <isis replace="replace">
            {% if host.isis.overload == true %}
            <overload>
            </overload>
            {% endif %}
            <level>
                <name>2</name>
                <disable/>
            </level>
            {% for i in host.interfaces %}
            <interface>
                <name>ge-0/0/1.0</name>
            </interface>
            {% endfor %}
            <interface>
                <name>lo0.0</name>
            </interface>
        </isis>
        {% endif %}
        {% if host.bgp.enabled == true %}
        <bgp replace="replace">
            {% for k,v in host.bgp.peers.external.iteritems() %}
            <group>
                <name>eBGP-{{ k }}</name>
                <family>
                    <inet>
                        <unicast>
                        </unicast>
                    </inet>
                </family>
                <peer-as>{{ k }}</peer-as>
                {% for p in v %}
                <neighbor>
                    <name>{{ p.ip }}</name>
                </neighbor>
                {% endfor %}
            {% endfor %}
            </group>
            <group>
                <name>iBGP</name>
                <type>internal</type>
                <local-address>{{ host.loopback.local_ip[:-3] }}</local-address>
                <family>
                    <inet>
                        <unicast>
                            <add-path>
                                <receive/>
                                <send>
                                    <path-count>6</path-count>
                                </send>
                            </add-path>
                        </unicast>
                    </inet>
                </family>
                {% if host.bgp.peers.internal %}
                {% for p in host.bgp.peers.internal %}
                <neighbor>
                    <name>{{ p.ip }}</name>
                </neighbor>
                {% endfor %}
                {% endif %}
            </group>
        </bgp>
        {% endif %}
        <lldp>
            <interface>
                <name>all</name>
            </interface>
        </lldp>
    </protocols>
</configuration>
